In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv("diabities.csv")

In [4]:
dataset.head()

,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
dataset.isnull()

,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [6]:
x=dataset.iloc[: , :-1]
y = dataset.iloc[: ,-1]

In [7]:
x

,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [8]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2)

In [10]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred,normalize= True)
acc=accuracy_score(y_test,y_pred)*100
print("accuracy",acc)

accuracy 69.48051948051948

In [12]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x_train,y_train)
y_pred=neigh.predict(x_test)

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred,normalize= True)
acc=accuracy_score(y_test,y_pred)*100
print("accuracy",acc)

accuracy 67.53246753246754

In [14]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=0)
dtc.fit(x_train,y_train)
y_pred=dtc.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred,normalize= True)
acc=accuracy_score(y_test,y_pred)*100
print("accuracy",acc)

accuracy 68.83116883116884

In [16]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(x_train,y_train)
y_pred=gnb.predict(x_test)

In [21]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred,normalize= True)
acc=accuracy_score(y_test,y_pred)*100
print("accuracy",acc)

accuracy 72.72727272727273

In [24]:
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
svc = SVC()
svc.fit(x_train,y_train)
y_pred=svc.predict(x_test)
confusion_matrix(y_test,y_pred)

array([[89, 11],
       [31, 23]], dtype=int64)

In [25]:
accuracy_score(y_test,y_pred,normalize= True)
acc=accuracy_score(y_test,y_pred)*100
print("accuracy",acc)

accuracy 72.72727272727273

In [26]:
from sklearn.linear_model import LogisticRegression
log_reg=LogisticRegression()
log_reg.fit(x_train,y_train)
y_pred=log_reg.predict(x_test)

C:\Users\shivk\anaconda3\New folder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [27]:
accuracy_score(y_test,y_pred,normalize= True)
acc=accuracy_score(y_test,y_pred)*100
print("accuracy",acc)

accuracy 72.72727272727273

In [28]:
svc=SVC(kernel= "sigmoid")
svc.fit(x_train,y_train)
y_pred=svc.predict(x_test)
confusion_matrix(y_test,y_pred)

array([[74, 26],
       [49,  5]], dtype=int64)

In [29]:
accuracy_score(y_test,y_pred,normalize= True)
acc=accuracy_score(y_test,y_pred)*100
print("accuracy",acc)

accuracy 51.298701298701296